page {
  height: 100%;
  background-color: #ecefef;
}

.content {
  display: flex;
  flex-direction: column;
}

.item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-box:last-child {
  margin-bottom: 35px;
}

.card {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 45%;
  height: 500px;
  border-radius: 20px;
  margin-left: 3.3%;
  margin-top: 30px;
  flex-direction: column;
}

.card-up {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 50%;
  display: block;
  object-fit: cover;
}

.card-bottom {
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: white;
}

.card-title {
  padding: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555555;
}

.card-season {
  padding: 0 30px 20px;
  color: #555555;
  font-size: 60%;
  font-weight: lighter;
}

.card-status {
  font-size: 60%;
  margin-left: 60px;
  font-weight: lighter;
}

.card-end-date {
  padding: 0 30px 30px;
  color: #555555;
  font-size: 60%;
  font-weight: lighter;
}

.review-item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-item-box:last-child {
  margin-bottom: 35px;
}

.review-card {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 93.3%;
  border-radius: 20px;
  margin-left: 3.3%;
  margin-top: 30px;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
}

.review-honor-team {
  padding: 28px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
  font-size: 80%;
  color: #555555;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ecefef;
}
